/*
 * Tweaks and overrides to hyde.css
 */

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}

.sidebar-about p {
  font-size: 1.2rem;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

/* Sky Blue */
.theme-base-4b .sidebar {
  background-color: #4BA8F3;
}
.theme-base-4b .sidebar a:hover{
  text-decoration: none;
  color: #BFEFFF;
}
.theme-base-4b .content a,
.theme-base-4b .related-posts li a:hover {
  color: #4BA8F3;
}
.theme-base-4b .content a:hover{
    color: #337ab7;
    text-decoration: none;
}
